@font-face {
	font-family: 'DBL';
	src: url('../font/devil_breeze/DevilBreezeBold.ttf');
}
.footer {
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 10px;
}
audio {
	display: none;
}
.playback {
	cursor: pointer;
}
html, div {
	font-family: 'DBL';
	letter-spacing: 2px;
}